@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@tailwind base;

@layer base {
}

@tailwind components;
@tailwind utilities;

:root {
  --Primary-100: #fcb292;
  --Primary-200: #ea8768;
  --Primary-300: #e96b30;
  --Primary-400: #ee5d40;
  --Primary-500: #ff5f17;
  --Primary-600: #bd3d01;
  --Primary-700: #993608;
  --Primary-800: #5d2308;
  --Primary-900: #3c1300;

  --Gray-50: #f7f7f7;
  --Gray-100: #eeeeef;
  --Gray-200: #dbdcdc;
  --Gray-300: #c8c9ca;
  --Gray-400: #b4b4b5;
  --Gray-500: #939393;
  --Gray-600: #888888;
  --Gray-700: #595757;
  --Gray-800: #3e3a39;
  --Gray-900: #231815;

  --kv-light-yellow: #fffcd3;
  --kv-light-green: #e1f9e9;
  --kv-light-orange: #fbd3ac;
  --kv-yellow: #f5a744;
  --kv-green: #39bf63;
  --kv-blue: #053793;

  --swiper-navigation-size: 20px !important;
  --swiper-navigation-color: #fff !important;
  --swiper-pagination-color: var(--junior-primary-500) !important;
  --swiper-theme-color: var(--Primary-500) !important;
  --swiper-pagination-bottom: -30px;
}

body {
  color: var(--Gray-900);
  font-size: 16px;
  overflow-x: hidden;
}
main {
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--Gray-200);
  border-radius: 10px;
  border: 5px solid var(--Gray-200);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #bd3c00;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  &:hover {
    background-color: #de917a;
  }
}

.bg-yellow {
  background-image: url('../public/img/bg-yellow.jpg');
  background-size: cover;
}
.bg-green {
  background-image: url('../public/img/bg-green.jpg');
  background-size: cover;
  position: relative;
  z-index: 1;
  // &:before,
  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 50px;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   // background-image: url('../public/img/bg-green-line-t.svg');
  // }
  // &:after {
  //   background-image: url('../public/img/bg-green-line-b.svg');
  //   bottom: -10px;
  //   left: 0;
  //   z-index: 0;
  // }
}
